services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: whithin_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1000-7
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    build:
      context: ./WhithinMessenger.Backend
      dockerfile: src/WhithinMessenger.Api/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - uploads_data:/app/wwwroot/uploads
      - ./ssl:/app/ssl
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=whithin_db;Username=postgres;Password=1000-7
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

  client:
    build:
      context: ./WhithinMessenger.Client
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  livekit:
    image: livekit/livekit-server:latest
    network_mode: host
    environment:
      LIVEKIT_KEYS: "devkey: this_is_a_very_long_secret_key_for_livekit_server_at_least_32_chars"
      LIVEKIT_CONFIG_FILE: /etc/livekit.yaml
    volumes:
      - ./livekit.yaml:/etc/livekit.yaml:ro
    restart: unless-stopped

  voice-server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./ssl:/app/ssl
    environment:
      - NODE_ENV=production
      - LIVEKIT_URL=ws://host.docker.internal:7880
      - LIVEKIT_EXTERNAL_URL=wss://whithin.ru
      - LIVEKIT_API_KEY=devkey
      - LIVEKIT_API_SECRET=this_is_a_very_long_secret_key_for_livekit_server_at_least_32_chars
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - livekit
    networks:
      - app-network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - client
      - backend
      - voice-server
      - livekit
    networks:
      - app-network
    restart: unless-stopped
    environment:
      - DOMAIN=whithin.ru

volumes:
  postgres_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/whithin-messenger/data/postgres
  uploads_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/whithin-messenger/data/wwwroot/uploads

networks:
  app-network:
    driver: bridge

