services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: whithin_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1000-7
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    build:
      context: ./WhithinMessenger.Backend
      dockerfile: src/WhithinMessenger.Api/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - uploads_data:/app/wwwroot/uploads
      - ./ssl:/app/ssl
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=whithin_db;Username=postgres;Password=1000-7
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

  client:
    build:
      context: ./WhithinMessenger.Client
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  voice-server:
    build:
      context: ./livekit-server
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
      - "7880:7880"
      - "50000-50100:50000-50100/udp"
      - "50000-50100:50000-50100/tcp"
    volumes:
      - ./ssl:/app/ssl
      - ./livekit-server/config.yaml:/app/config.yaml
    environment:
      PORT: "3000"
      LIVEKIT_URL: "ws://localhost:7880"
      LIVEKIT_API_KEY: "${LIVEKIT_API_KEY:-devkey_d7f9b3e5c1a4f8d2b6e9c3f5a7d1b4e}"
      LIVEKIT_API_SECRET: "${LIVEKIT_API_SECRET:-devsecret_8a2f6e9c3d7b1f5a8e2c6f9a3d7b1e5f8a2c6f9a3d7b1e5f}"
      LIVEKIT_KEYS: "${LIVEKIT_KEYS:-devkey_d7f9b3e5c1a4f8d2b6e9c3f5a7d1b4e: devsecret_8a2f6e9c3d7b1f5a8e2c6f9a3d7b1e5f8a2c6f9a3d7b1e5f}"
      TLS_CERT: "/app/ssl/certificate.crt"
      TLS_KEY: "/app/ssl/private.key"
      CORS_ORIGIN: "https://whithin.ru"
    networks:
      - app-network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - client
      - backend
      - voice-server
    networks:
      - app-network
    restart: unless-stopped
    environment:
      - DOMAIN=whithin.ru

volumes:
  postgres_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/whithin-messenger/data/postgres
  uploads_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/whithin-messenger/data/wwwroot/uploads

networks:
  app-network:
    driver: bridge

